{% block content %}
  <article class="post post-{{ post.post_type }}">
    <div class="post-picture">
      <a href="{{post.link}}"><img src="{{post.thumbnail.src}}" class="feature" /></a>
    </div>
    <div class="post-content">
      <h3><a href="{{post.link}}">{{ post.title }}</a></h3>
      {{post.content|excerpt(30)}}
    </div>
  </article>
{% endblock %}