{% block header %}
  <header id="header" class="header header-wrapper">
    <div class="container">
      <div class="header-content-top">
        {{ shortcode('[custom_shortcode1]') }}
      </div>
      <div class="header-content">
        <div class="branding">
          <div class="site-logo">
            {% if function('has_custom_logo') %}
              {{function('the_custom_logo')}}
            {% else %}
              <a href="{{ site.url }}">
                <img alt="{{ site.name }}" class="site-logo__image" src="{{ site_logo }}">
              </a>
            {% endif %}
          </div>
          <p class="site-title hidden">
            <a href="{{ site.url }}" rel="home">{{ site.name }}</a>
          </p>
        </div>
        <div class="header-banner">
          {{acfwidget('header_banner', 'header_widget-2')}}
        </div>
      </div>
    </div>
  </header>
{% endblock %}
